<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489596762674-a8d09hm9vj737o7o333e9o16f85rgb2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489596762674-a8d09hm9vj737o7o333e9o16f85rgb2o</string>
	<key>API_KEY</key>
	<string>AIzaSyC9yUqP_85vg8e_ndyK2MZG3_I_19EVEWE</string>
	<key>GCM_SENDER_ID</key>
	<string>489596762674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FCCutomer.demo.ShopSide</string>
	<key>PROJECT_ID</key>
	<string>fcustomer-404c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fcustomer-404c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489596762674:ios:a68c171a99cfcc1b</string>
	<key>DATABASE_URL</key>
	<string>https://fcustomer-404c0.firebaseio.com</string>
</dict>
</plist>